streamlit
sqlite3
requests
pandas
folium
plotly
pillow
scikit-learn
jdatetime
arabic-reshaper
python-bidi
matplotlib
wordcloud
networkx
faker
streamlit-echarts
pytz
python-multipart
email-validator
streamlit-folium
